<h1>Dashboard#data</h1>
<p><%= @public_housing_units %> Public Housing Units</p>
<p><%= @voucher_units %> S8 Voucher Units</p>
<p><%= @families %> Families</p>
<p><%= @individuals %> Individuals</p>
<p>$<%= @random_rent %> Random Rent Amount
<p>As of <%= Date.current %>
